
.parent{
    display: flex;
}
div.icon img{
    width: 40px;
    height: 40px;
}
.child{
    display: flex;
}
.a{
    color: black;
}
.child img{
    width: 15px;
    height: 15px;
    padding: 15px;
}
.search{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 43%;
    top: 2%;
}
input[type="search"]{
    padding: 10px 30px;
    border-radius: 20px;
    
}
.mode{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 2%;
    left: 46%;
}
.header{
    display: flex;
    gap: 200px;
    /* justify-content: space-between; */
}
.child2{
    display: flex;
    margin-left: 50px;
}
.child2 img{
    width: 20px;
    height: 20px;
    padding-top: 15px;
    padding-right: 5px;
    
}
button{
    border-radius: 20px;
    background-color: lightgreen;
    padding: 10px 40px;
    border: none;
}
.sign{
    position: absolute;
    right: 130px;
    background-color: green;
    color: white;

}
.login{
    position: absolute;
    right: 50px;
    z-index: -1;
    color: black;
}
.parent3{
    display: flex;
    background-color: black;
    height: 40px;
    gap: 30px;
}
/* p{
    color: white;
} */
.text{
    color: white;
}